<h1>Modelo de produto:</h1>
<p><%= ProductModel.human_attribute_name(:name) %>: <%= @product_model.name %></p>
<p><%= ProductModel.human_attribute_name(:weight) %>: <%= @product_model.weight %>g</p>
<p>Dimensões: <%= @product_model.width %>cm x <%= @product_model.height %>cm x <%= @product_model.depth %>cm</p>
<p><%= ProductModel.human_attribute_name(:sku) %>: <%= @product_model.sku %></p>
<p><%= ProductModel.human_attribute_name(:supplier_id) %>: <%= @product_model.supplier.brand_name %></p>




