<h1>Modelo de produto:</h1>
<p>Nome: <%= @product_model.name %></p>
<p>Peso: <%= @product_model.weight %>g</p>
<p>Dimensões: <%= @product_model.width %>cm x <%= @product_model.height %>cm x <%= @product_model.depth %>cm</p>
<p>SKU: <%= @product_model.sku %></p>
<p>Fornecedor: <%= @product_model.supplier.brand_name %></p>




