<h1><%= Supplier.model_name.human %> <%= @supplier.registration_number %></h1>
<p><%= Supplier.human_attribute_name(:corporate_name) %>: <%= @supplier.corporate_name %></p>
<p><%= Supplier.human_attribute_name(:brand_name) %>: <%= @supplier.brand_name %></p>
<p><%= Supplier.human_attribute_name(:full_address) %>: <%= @supplier.full_address %></p>
<p><%= Supplier.human_attribute_name(:registration_number) %>: <%= @supplier.registration_number %></p>
<p><%= Supplier.human_attribute_name(:city) %>: <%= @supplier.city %></p>
<p><%= Supplier.human_attribute_name(:state) %>: <%= @supplier.state %></p>
<p><%= Supplier.human_attribute_name(:email) %>: <%= @supplier.email %></p>


<div>
    <p><%= link_to('Editar Fornecedor', edit_supplier_path(@supplier.id)) %></p>
</div>
<div>
    <p><%= link_to('Início', root_path) %></p>
</div>
