<!DOCTYPE html>
<html>
  <head>
    <title>Warehouse App - Feito na Campus Code</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Galpões & Estoque</h1>
      <nav>
        <ul>
          <li><%= link_to 'Fornecedores', suppliers_path %></li>
          <li><%= link_to 'Modelos de produtos',product_models_path %></li>
          <% if user_signed_in? %>
            <li><%= current_user.email %></li>
            <li>Olá <%= current_user.name %>!</li>
            <li><%= button_to 'Sair', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Entrar', new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
   
        
    </header>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
